@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Text+Me+One&display=swap');

:root {
    --main-color: #101010;
    --secondary-color: #262323;
    --accent-color: #FF4E02;
    --text-color: #C8C8C8;
    --main-font: 'Roboto', sans-serif;
}
@import url(https://fonts.googleapis.com/css?family=Ek+Mukta:200);
 body {
	 margin: 0;
	 line-height: 1.4;
	 background: #e1e1e1;
}
 .window {
	 position: relative;
	 display: block;
	 width: 360px;
	 height: 567px;
	 margin: 100px auto 0;
	 box-shadow: 0 0 65px 15px rgba(0, 0, 0, 0.2);
	 overflow: hidden;
	 border-radius: 3px;
	 background: #f1f1f1;
}
 .window .header {
	  position: absolute;

            stroke-dashoffset: 0%
            jhkjh   
            hkkjhk
            klk;
	                display: block;
	        top: 0;
	 left: 0;
	 height: 50px;
	 width: 100%;
	 background: rgba(0, 0, 0, 0.8);
	 overflow: hidden;
	 transition: all 0.5s ease-out, background 1s ease-out;
	 transition-delay: 0.2s;
	 z-index: 1;
}
 .window .header .burger-container {
	 position: relative;
	 display: inline-block;
	 height: 50px;
	 width: 50px;
	 cursor: pointer;
	 transform: rotate(0deg);
	 transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
	 user-select: none;
	 -webkit-tap-highlight-color: transparent;
}
 .window .header .burger-container #burger {
	 width: 18px;
	 height: 8px;
	 position: relative;
	 display: block;
	 margin: -4px auto 0;
	 top: 50%;
}
 .window .header .burger-container #burger .bar {
	 width: 100%;
	 height: 1px;
	 display: block;
	 position: relative;
	 background: #fff;
	 transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
	 transition-delay: 0s;
}
 .window .header .burger-container #burger .bar.topBar {
	 transform: translateY(0px) rotate(0deg);
}
 .window .header .burger-container #burger .bar.btmBar {
	 transform: translateY(6px) rotate(0deg);
}
 .window .header .icon {
	 display: inline-block;
	 position: absolute;
	 height: 100%;
	 line-height: 50px;
	 width: 50px;
	 height: 50px;
	 text-align: center;
	 color: #fff;
	 font-size: 22px;
	 left: 50%;
	 transform: translateX(-50%);
}
 .window .header .icon.icon-bag {
	 right: 0;
	 top: 0;
	 left: auto;
	 transform: translateX(0px);
	 transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
	 transition-delay: 0.65s;
}
 .window .header ul.menu {
	 position: relative;
	 display: block;
	 padding: 0px 48px 0;
	 list-style: none;
}
 .window .header ul.menu li.menu-item {
	 border-bottom: 1px solid #333;
	 margin-top: 5px;
	 transform: scale(1.15) translateY(-30px);
	 opacity: 0;
	 transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
 .window .header ul.menu li.menu-item:nth-child(1) {
	 transition-delay: 0.49s;
}
 .window .header ul.menu li.menu-item:nth-child(2) {
	 transition-delay: 0.42s;
}
 .window .header ul.menu li.menu-item:nth-child(3) {
	 transition-delay: 0.35s;
}
 .window .header ul.menu li.menu-item:nth-child(4) {
	 transition-delay: 0.28s;
}
 .window .header ul.menu li.menu-item:nth-child(5) {
	 transition-delay: 0.21s;
}
 .window .header ul.menu li.menu-item:nth-child(6) {
	 transition-delay: 0.14s;
}
 .window .header ul.menu li.menu-item:nth-child(7) {
	 transition-delay: 0.07s;
}
 .window .header ul.menu li.menu-item a {
	 display: block;
	 position: relative;
	 color: #fff;
	 font-family: 'Ek Mukta', sans-serif;
	 font-weight: 100;
	 text-decoration: none;
	 font-size: 22px;
	 line-height: 2.35;
	 font-weight: 200;
	 width: 100%;
}
 .window .header.menu-opened {
	 height: 100%;
	 background-color: #000;
	 transition: all 0.3s ease-in, background 0.5s ease-in;
	 transition-delay: 0.25s;
}
 .window .header.menu-opened .burger-container {
	 transform: rotate(90deg);
}
 .window .header.menu-opened .burger-container #burger .bar {
	 transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
	 transition-delay: 0.2s;
}
 .window .header.menu-opened .burger-container #burger .bar.topBar {
	 transform: translateY(4px) rotate(45deg);
}
 .window .header.menu-opened .burger-container #burger .bar.btmBar {
	 transform: translateY(3px) rotate(-45deg);
}
 .window .header.menu-opened ul.menu li.menu-item {
	 transform: scale(1) translateY(0px);
	 opacity: 1;
}
 .window .header.menu-opened ul.menu li.menu-item:nth-child(1) {
	 transition-delay: 0.27s;
}
 .window .header.menu-opened ul.menu li.menu-item:nth-child(2) {
	 transition-delay: 0.34s;
}
 .window .header.menu-opened ul.menu li.menu-item:nth-child(3) {
	 transition-delay: 0.41s;
}
 .window .header.menu-opened ul.menu li.menu-item:nth-child(4) {
	 transition-delay: 0.48s;
}
 .window .header.menu-opened ul.menu li.menu-item:nth-child(5) {
	 transition-delay: 0.55s;
}
 .window .header.menu-opened ul.menu li.menu-item:nth-child(6) {
	 transition-delay: 0.62s;
}
 .window .header.menu-opened ul.menu li.menu-item:nth-child(7) {
	 transition-delay: 0.69s;
}
 .window .header.menu-opened .icon.icon-bag {
	 transform: translateX(75px);
	 transition-delay: 0.3s;
}
 .window .content {
	 font-family: 'Ek Mukta', sans-serif;
	 padding: 67px 4% 0;
	 text-align: justify;
	 overflow: scroll;
	 max-height: 100%;
}
 .window .content::-webkit-scrollbar {
	 display: none;
}
 .window .content h2 {
	 margin-bottom: 0px;
	 letter-spacing: 1px;
}
 .window .content img {
	 width: 95%;
	 position: relative;
	 display: block;
	 margin: 75px auto 75px;
}
 .window .content img:nth-of-type(2) {
	 margin: 75px auto;
}
 @media (max-width: 600px) {
	 .window {
		 width: 100%;
		 height: 100vh;
		 margin: 0;
		 border-radius: 0px;
	}
	 .window .header {
		 position: fixed;
	}
}
 
body{
    padding: 0;
    margin: 0;
    background-color: var(--main-color);
}

.logo{
    padding: 8.5vh 0 0 20px;
}

.block1{
    width: 32vw;
    height: 75vmax;
    background-color: var(--secondary-color);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.main-img{
    margin-left: 12%;
    margin-top: 10%;
}

.kontakt
{
    height: 1.5em;
    width: 7em;
    background-color:rgb(19, 19, 19);
    color: var(--text-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    box-shadow: 2px 2px 5px black;
    font-family: var(--main-font);
}
.button{
    height: 100%;
    width: 100%;
    background-color: rgb(10, 10, 10);
    padding: 1em 2em;
    border-bottom: 1px solid var(--accent-color);
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
    text-transform: uppercase;
}
h2{
    color: var(--text-color);
    margin-left: 10vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-family: 'Text Me One', sans-serif;
    font-size: 2rem;
}

#aboutme img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 100%;    
}

#aboutme
{   display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 60%;
    color: var(--text-color);
    text-align: center;
    font-size: 3rem;
    
}

.accent1{
    width: 1px;
    height: 12vh;
    background-color:var(--accent-color);
    position: absolute;
    left: -40px;
    top: -10px;
    
}

.accent2{
    width: 12vh;
    height: 1px;
    background-color:var(--accent-color);
    position: absolute;
    left: -40px;
    top: -12px;
}

.accent3{
    width: 1px;
    height: 12vh;
    background-color:var(--accent-color);
    position: absolute;
    right: -40px;
    bottom: -40px;
}

.accent4{
    width: 12vh;
    height: 1px;
    background-color:var(--accent-color);
    position: absolute;
    right: -40px;
    bottom: -40px;
}

.block2{
    width: 17vmax;
    height: 50vmax;
    background-color: var(--secondary-color);
    position: absolute;
    left: 50%;
    top: -6vmax;
    z-index: -1;
}

h3{
  color: var(--text-color);
  font-size: 18px;
  margin: 100px 0 40px 40px;
  /* margin-top: 100px;
  margin-bottom: 40px; */
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;


}
p{
  color: var(--text-color);
  margin-left: 40px;
  margin-right: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.wiecej{
  color: var(--text-color);
  display: block;
  text-align: right;
  margin: 40px 40px 0 0;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.gg-arrow-right-r {
    box-sizing: border-box;
    color: var(--accent-color);
    position: relative;
    right:0;
    display: block;
    width: 22px;
    height: 22px;
    transform: scale(var(--ggs,1));
}
.gg-arrow-right-r::after,
.gg-arrow-right-r::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: -85vw;
}
.gg-arrow-right-r::after {
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    bottom: 4px;
}
.gg-arrow-right-r::before {
    width: 70px;
    height: 2px;
    bottom: 8px;
    background: currentColor
}

.accent5{
  width: 1px;
  height: 40vmax;
  background-color: var(--accent-color);
  position: relative;
  left: 20px;
  top: -100vh;
}

.block3{
    width: 17vmax;
    height: 30vmax;
    background-color: var(--secondary-color);
    position: relative;
    left:60vw;
    top: -30vmax;
    z-index: -1;
}

.block4{
    width: 25vmax;
    height: 15vmax;
    background-color: var(--secondary-color);
    position: relative;
    left:0%;
    top: -52vmax;
    z-index: -1;
}

.accent6{
  width: 30vw;
  height: 1px;
  background-color: var(--accent-color);
  position: relative;
  top: 10vh;
  margin-left: 50px;
}

.zdjecie1{ 
  background: url(./images/trąbka.jpg) 50% 50% no-repeat;
  background-size: cover;
  width: 85vw;
  height: 85vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  opacity: 0.7;
  transition: 0.2s linear;
    
}
.zdjecie1:hover{
  transition: 0.2s linear;
  cursor: pointer;
  opacity: 1;
  width: 87vw;
  
}
.zdjecie2{ 
  background: url(./images/Dziewczyna.jpg) 50% 50% no-repeat;
  background-size: cover;
  width: 85vw;
  height: 85vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  opacity: 0.7;
  transition: 0.2s linear;
}
.zdjecie2:hover{
  transition: 0.2s linear;
  cursor: pointer;
  opacity: 1;
  height: 87vw;
  
}
.zdjecie3{ 
  background: url(./images/ślub.jpg) 50% 50% no-repeat;
  background-size: cover;
  width: 85vw;
  height: 85vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  opacity: 0.7;
  transition: 0.2s linear;
}
.zdjecie3:hover{
  transition: 0.2s linear;
  cursor: pointer;
  opacity: 1;
  height: 87vw;
  
}

.zdjecie4{ 
  background: url(./images/viol.jpg) 50% 50% no-repeat;
  background-size: cover;
  width: 85vw;
  height: 85vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  opacity: 0.7;
  transition: 0.2s linear;
}

.zdjecie4:hover{
  transition: 0.2s linear;
  cursor: pointer;
  opacity: 1;
  height: 87vw;
  
}

.zdjecie5{ 
  background: url(./images/chinczyl.jpg) 50% 50% no-repeat;
  background-size: cover;
  width: 85vw;
  height: 85vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  opacity: 0.7;
  transition: 0.2s linear;
}
.zdjecie5:hover{
  transition: 0.2s linear;
  cursor: pointer;
  opacity: 1;
  height: 87vw;
  
}
.zdjecie6{ 
  background: url(./images/chiny.jpg) 50% 50% no-repeat;
  background-size: cover;
  width: 85vw;
  height: 85vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  opacity: 0.7;
  transition: 0.2s linear;
}

.zdjecie6:hover{
  transition: 0.2s linear;
  cursor: pointer;
  opacity: 1;
  height: 87vw;
    
}

/* .podglad{ 
  display: block;
  width: fit-content;
  background-color: var(--main-color);
  opacity: 0.8;
  text-decoration: underline var(--accent-color) ;
  position: relative;
  bottom: -75%;
  font-size: 24px;
  padding: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--text-color);

} */

.accent7{
  width: 50vw;
  height: 1px;
  background-color: var(--accent-color);
  margin-top: 40px;
}

#kontaktimg{
  width: 60vw;
  height: 60vw;
  background-image: url(./images/main-photo.jpg);
  background-size: cover;
  margin-left: 40px;
}
.zapraszam{
  text-align: right;
  margin-top: -25px;
  font-size: 20px;
  font-family: fantasy;
}
input{
  display: block;
  color: var(--text-color);
  border: unset;
  background-color: var(--secondary-color);
  padding: 10px 0px 10px 10px;
  margin-top: 10px;

}

textarea{
  color: var(--text-color);
  border: unset;
  background-color: var(--secondary-color);
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
}
form{
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
display: flex;
flex-direction: column;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  
}

@media screen and (min-width: 600px) {
body{
  display: none;
}
}